.home-page {
    .home-banner {
        margin-top: 50px;
        position: relative;

        .content {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%,-20%);

            @include device-1 {
                top: 20%;
                left: 0;
                transform: translate(0,-20%);
            }

            @include tablet {
                left: 40%;
                transform: translate(-30%, -20%);
            }

            img {
                max-width: 100%;
                display: inline-block;
            }
        }

        .text {
            padding-top: 70px;

            @include device-1 {
                padding-top: 0;
            }

            h2 {
                font-family: 'helveticaneueultralight';
                font-size: 42px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                margin-top: 5px;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
                padding-bottom: 5px;

                @include device-1 {
                    font-size: 36px;
                }

                @include iphone5Landscape {
                    font-size: 34px;
                }

                span {
                    position: relative;
                    display: inline-block;
                    padding: 0 10px;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        width: 100%;
                        height: 1px;
                        background-color: #fff;

                        @include iphone5Landscape {
                            width: 96%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                        }
                    }
                }
            }

            h3 {
                font-family: 'helveticaneuebold';
                font-size: 53px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 0;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);

                @include device-1 {
                    font-size: 44px;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-bottom: 30px;

                @include device-1 {
                    padding: 0 15px;
                }

                li {
                    color: #fff;
                    font-size: 20px;
                    padding-left: 25px;
                    position: relative;
                    margin-bottom: 10px;

                    @include device-1 {
                        font-size: 18px;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background-color: #fff;
                        top: 10px;
                        left: 0;

                        @include device-1 {
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
            }

            .block-btn {
                @include device-1 {
                    padding: 0 15px;
                }

                a {
                    @include device-1 {
                        width: 100%;
                        display: block;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .parallax-container {
            min-height: 670px;

            @include device-1 {
                min-height: 550px;
            }
        }

        .gray-btn {
            color: #fff;
            background-color: #6c757d;
            border: 1px solid #666e76;
            padding: 8px 35px;
            cursor: pointer;
            font-size: 20px;
            font-family: 'helveticaneuelight';
            margin-right: 10px;

            &:hover {
                background-color: #707982;
                border: 1px solid #707982;
                text-decoration: none;
            }
        }
    }

    .home-solution {
        .qr-typical {
            margin-bottom: 40px;

            img {
                display: inline-block;
                max-width: 100%;
            }

            h3 {
                font-size: 20px;
                color: #5f5f5f;
                text-transform: uppercase;
                font-family: 'helveticaneuemedium';
                margin-bottom: 5px;
            }

            p {
                color: #727272;
                font-family: 'helveticaneuelight';
                font-size: 16px;
                padding: 0 540px;
                margin-bottom: 30px;
            }
        }

        .qr-introduce {
            > div {
                text-align: center;
            }

            img {
                display: inline-block;
                max-width: 100%;
            }

            h2 {
                text-transform: uppercase;
                font-size: 20px;
                color: #5f5f5f;
                font-family: 'helveticaneuemedium';
            }

            p {
                padding: 0 30px;
                font-size: 16px;
                color: #727272;
                font-family: 'helveticaneuelight';
            }
        }

        .item {
            padding: 50px 0;
            background-color: #f8f8f8;

            &:nth-child(2n+1) {
                .last-item {
                    margin-left: 0;
                }
            }

            &:nth-child(2n) {
                background-color: #fff;

                .first-item {
                    float: right;
                    margin-left: 0;
                }

                .last-item {
                    float: left;
                }
            }


            img {
                max-width: 100%;
            }

            h3 {
                color: #333;
                font-size: 30px;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 20px;

                &:before {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: 0;
                    width: 200px;
                    height: 3px;
                    background-color: #e7e7e7;
                }
            }

            p {
                font-size: 18px;
            }
        }
    }

    .home-about {
        padding-top: 5px;
        padding-bottom: 50px;
        position: relative;

        @include device-1 {
            background-color: #128097;
        }

        .content {
            @include desktop {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        .under-title {
            margin-bottom: 30px;
        }

        .text {
            color: #fff;
            padding-right: 45px;

            h2 {
                font-size: 20px;
                font-family: 'helveticaneuemedium';
                text-transform: uppercase;
            }

            p {
                font-size: 16px;
                font-family: 'helveticaneuelight';
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                padding-left: 15px;

                li {
                    padding-left: 45px;
                    position: relative;

                    @include device-1 {
                        padding: 0;
                    }

                    i {
                        position: absolute;
                        left: 0;
                        top: 0;

                        @include device-1 {
                            display: none;
                        }
                    }
                }

                h3 {
                    font-size: 15px;
                    font-family: 'helveticaneuemedium';
                    text-transform: uppercase;

                    @include device-1 {
                        margin-bottom: 10px;
                    }
                }

                p {
                    font-size: 14px;
                }
            }
        }

        iframe {
            width: 100% !important;
            height: 360px !important;
        }

        .parallax-container {
            min-height: 600px;
        }
    }

    .home-app {
        padding-top: 10px;
        padding-bottom: 50px;

        .under-title {
            margin-bottom: 45px;
        }

        .content {
            background-image: url('../images/ico_4.png');
            background-repeat: no-repeat;
            background-position: center;
            background-position-y: 0%;

            @include device-1 {
                background: none;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                margin-bottom: 100px;
            }

            h3 {
                font-size: 16px;
                font-family: 'helveticaneuemedium';
                text-transform: uppercase;
                color: #5f5f5f;
                margin-bottom: 5px;
            }

            p {
                font-size: 16px;
                font-family: 'helveticaneuelight';
                color: #727272;
            }

            img {
                position: absolute;
                top: 0;

                @include device-1 {
                    display: none;
                }
            }

            &.ul-left {
                text-align: right;
                padding-right: 175px;
                padding-top: 50px;

                @include device-1 {
                    padding: 0 15px;
                    text-align: left;
                }

                img {
                    right: 0;
                }

                li {
                    padding-right: 105px;

                    &:nth-child(2) {
                        margin-right: 65px;
                    }

                    &:nth-child(3) {
                        margin-right: 20px;
                    }

                    @include device-1 {
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                }
            }

            &.ul-right {
                text-align: left;
                padding-left: 175px;
                padding-top: 50px;

                @include device-1 {
                    padding: 0 15px;
                    text-align: left;
                }

                img {
                    left: 0;
                }

                li {
                    padding-left: 105px;

                    &:nth-child(2) {
                        margin-left: 65px;
                    }

                    &:nth-child(3) {
                        margin-left: 20px;
                    }

                    @include device-1 {
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    .rating {
        background: #fbfafc;
        padding-top: 10px;
    }
}
