@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneue.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneuebold';
  src: url("../fonts/helveticaneuebold.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneueitalic';
  src: url("../fonts/helveticaneueitalic.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneuelight';
  src: url("../fonts/helveticaneuelight.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helveticaneuemedium.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneueultralight';
  src: url("../fonts/helveticaneueultralight.ttf") format("truetype"); }

body, html {
  font-family: 'helveticaneue'; }

.btn-flat {
  padding: 8px 35px;
  border: 1px solid #5f5f5f;
  font-size: 20px;
  color: #5f5f5f;
  font-family: 'helveticaneuelight';
  margin-right: 10px; }
  .btn-flat:hover {
    opacity: 0.85;
    transition: all ease 0.2s;
    text-decoration: none;
    color: #5f5f5f; }
  .btn-flat.btn-orange {
    background-color: #f58220;
    color: #fff;
    border: 1px solid #f58220; }
    .btn-flat.btn-orange img {
      margin-left: 5px; }
  .btn-flat.md-btn {
    font-family: 'helveticaneuemedium';
    font-size: 10px;
    padding: 5px 10px; }
    .btn-flat.md-btn img {
      width: 15px; }

.under-title {
  position: relative;
  color: #5f5f5f;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 0 15px 15px 15px; }
  .under-title:after {
    /*background-image: url('../images/underline_1.png');*/
    background-color: #f58220;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 95px;
    height: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0; }
  .under-title.white-title {
    color: #fff; }
    .under-title.white-title:after {
      background-color: #fff; }

.no-pad {
  padding: 0; }

@media screen and (max-width: 1023px) {
  .hidden-mobile {
    display: none; } }

.hidden-desktop {
  display: none; }
  @media screen and (max-width: 1023px) {
    .hidden-desktop {
      display: block; } }

.grid-item {
  width: 25%; }
  .grid-item img {
    width: 100%; }

.grid-item--width2 {
  width: 50%; }

.home-page .home-banner {
  margin-top: 50px;
  position: relative; }
  .home-page .home-banner .content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%); }
    @media screen and (max-width: 1023px) {
      .home-page .home-banner .content {
        top: 20%;
        left: 0;
        transform: translate(0, -20%); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .home-page .home-banner .content {
        left: 40%;
        transform: translate(-30%, -20%); } }
    .home-page .home-banner .content img {
      max-width: 100%;
      display: inline-block; }
  .home-page .home-banner .text {
    padding-top: 70px; }
    @media screen and (max-width: 1023px) {
      .home-page .home-banner .text {
        padding-top: 0; } }
    .home-page .home-banner .text h2 {
      font-family: 'helveticaneueultralight';
      font-size: 42px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-top: 5px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      padding-bottom: 5px; }
      @media screen and (max-width: 1023px) {
        .home-page .home-banner .text h2 {
          font-size: 36px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
        .home-page .home-banner .text h2 {
          font-size: 34px; } }
      .home-page .home-banner .text h2 span {
        position: relative;
        display: inline-block;
        padding: 0 10px; }
        .home-page .home-banner .text h2 span:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 1px;
          background-color: #fff; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
            .home-page .home-banner .text h2 span:after {
              width: 96%;
              left: 0;
              right: 0;
              margin: 0 auto; } }
    .home-page .home-banner .text h3 {
      font-family: 'helveticaneuebold';
      font-size: 53px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }
      @media screen and (max-width: 1023px) {
        .home-page .home-banner .text h3 {
          font-size: 44px; } }
    .home-page .home-banner .text ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 30px; }
      @media screen and (max-width: 1023px) {
        .home-page .home-banner .text ul {
          padding: 0 15px; } }
      .home-page .home-banner .text ul li {
        color: #fff;
        font-size: 20px;
        padding-left: 25px;
        position: relative;
        margin-bottom: 10px; }
        @media screen and (max-width: 1023px) {
          .home-page .home-banner .text ul li {
            font-size: 18px; } }
        .home-page .home-banner .text ul li:before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #fff;
          top: 10px;
          left: 0; }
          @media screen and (max-width: 1023px) {
            .home-page .home-banner .text ul li:before {
              width: 6px;
              height: 6px; } }
    @media screen and (max-width: 1023px) {
      .home-page .home-banner .text .block-btn {
        padding: 0 15px; } }
    @media screen and (max-width: 1023px) {
      .home-page .home-banner .text .block-btn a {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 15px; } }
  .home-page .home-banner .parallax-container {
    min-height: 670px; }
    @media screen and (max-width: 1023px) {
      .home-page .home-banner .parallax-container {
        min-height: 550px; } }
  .home-page .home-banner .gray-btn {
    color: #fff;
    background-color: #6c757d;
    border: 1px solid #666e76;
    padding: 8px 35px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'helveticaneuelight';
    margin-right: 10px; }
    .home-page .home-banner .gray-btn:hover {
      background-color: #707982;
      border: 1px solid #707982;
      text-decoration: none; }

.home-page .home-solution .qr-typical {
  margin-bottom: 40px; }
  .home-page .home-solution .qr-typical img {
    display: inline-block;
    max-width: 100%; }
  .home-page .home-solution .qr-typical h3 {
    font-size: 20px;
    color: #5f5f5f;
    text-transform: uppercase;
    font-family: 'helveticaneuemedium';
    margin-bottom: 5px; }
  .home-page .home-solution .qr-typical p {
    color: #727272;
    font-family: 'helveticaneuelight';
    font-size: 16px;
    padding: 0 540px;
    margin-bottom: 30px; }

.home-page .home-solution .qr-introduce > div {
  text-align: center; }

.home-page .home-solution .qr-introduce img {
  display: inline-block;
  max-width: 100%; }

.home-page .home-solution .qr-introduce h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: #5f5f5f;
  font-family: 'helveticaneuemedium'; }

.home-page .home-solution .qr-introduce p {
  padding: 0 30px;
  font-size: 16px;
  color: #727272;
  font-family: 'helveticaneuelight'; }

.home-page .home-solution .item {
  padding: 50px 0;
  background-color: #f8f8f8; }
  .home-page .home-solution .item:nth-child(2n+1) .last-item {
    margin-left: 0; }
  .home-page .home-solution .item:nth-child(2n) {
    background-color: #fff; }
    .home-page .home-solution .item:nth-child(2n) .first-item {
      float: right;
      margin-left: 0; }
    .home-page .home-solution .item:nth-child(2n) .last-item {
      float: left; }
  .home-page .home-solution .item img {
    max-width: 100%; }
  .home-page .home-solution .item h3 {
    color: #333;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px; }
    .home-page .home-solution .item h3:before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      width: 200px;
      height: 3px;
      background-color: #f58220; }
  .home-page .home-solution .item p {
    font-size: 14px;
    margin-bottom: 30px; }

.home-page .home-about {
  padding-top: 5px;
  padding-bottom: 50px;
  position: relative; }
  @media screen and (max-width: 1023px) {
    .home-page .home-about {
      background-color: #128097; } }
  @media screen and (min-width: 1025px) {
    .home-page .home-about .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  .home-page .home-about .under-title {
    margin-bottom: 30px; }
  .home-page .home-about .text {
    color: #fff;
    padding-right: 45px; }
    .home-page .home-about .text h2 {
      font-size: 20px;
      font-family: 'helveticaneuemedium';
      text-transform: uppercase;
      color: #fff; }
    .home-page .home-about .text p {
      font-size: 16px;
      font-family: 'helveticaneuelight'; }
    .home-page .home-about .text ul {
      padding: 0;
      margin: 0;
      list-style: none;
      padding-left: 15px; }
      .home-page .home-about .text ul li {
        padding-left: 45px;
        position: relative; }
        @media screen and (max-width: 1023px) {
          .home-page .home-about .text ul li {
            padding: 0; } }
        .home-page .home-about .text ul li i {
          position: absolute;
          left: 0;
          top: 0; }
          @media screen and (max-width: 1023px) {
            .home-page .home-about .text ul li i {
              display: none; } }
      .home-page .home-about .text ul h3 {
        font-size: 15px;
        font-family: 'helveticaneuemedium';
        text-transform: uppercase;
        color: #fff; }
        @media screen and (max-width: 1023px) {
          .home-page .home-about .text ul h3 {
            margin-bottom: 10px; } }
      .home-page .home-about .text ul p {
        font-size: 14px; }
  .home-page .home-about iframe {
    width: 100% !important;
    height: 360px !important; }
  .home-page .home-about .parallax-container {
    min-height: 600px; }

.home-page .home-app {
  padding-top: 10px;
  padding-bottom: 50px; }
  .home-page .home-app .under-title {
    margin-bottom: 45px; }
  .home-page .home-app .content {
    background-image: url("../images/ico_4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0%; }
    @media screen and (max-width: 1023px) {
      .home-page .home-app .content {
        background: none; } }
  .home-page .home-app ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .home-page .home-app ul li {
      position: relative;
      margin-bottom: 100px; }
    .home-page .home-app ul h3 {
      font-size: 16px;
      font-family: 'helveticaneuemedium';
      text-transform: uppercase;
      color: #5f5f5f;
      margin-bottom: 5px; }
    .home-page .home-app ul p {
      font-size: 16px;
      font-family: 'helveticaneuelight';
      color: #727272; }
    .home-page .home-app ul img {
      position: absolute;
      top: 0; }
      @media screen and (max-width: 1023px) {
        .home-page .home-app ul img {
          display: none; } }
    .home-page .home-app ul.ul-left {
      text-align: right;
      padding-right: 175px;
      padding-top: 50px; }
      @media screen and (max-width: 1023px) {
        .home-page .home-app ul.ul-left {
          padding: 0 15px;
          text-align: left; } }
      .home-page .home-app ul.ul-left img {
        right: 0; }
      .home-page .home-app ul.ul-left li {
        padding-right: 105px; }
        .home-page .home-app ul.ul-left li:nth-child(2) {
          margin-right: 65px; }
        .home-page .home-app ul.ul-left li:nth-child(3) {
          /*margin-right: 20px;*/ }
        @media screen and (max-width: 1023px) {
          .home-page .home-app ul.ul-left li {
            padding: 0 !important;
            margin: 0 !important; } }
    .home-page .home-app ul.ul-right {
      text-align: left;
      padding-left: 175px;
      padding-top: 50px; }
      @media screen and (max-width: 1023px) {
        .home-page .home-app ul.ul-right {
          padding: 0 15px;
          text-align: left; } }
      .home-page .home-app ul.ul-right img {
        left: 0; }
      .home-page .home-app ul.ul-right li {
        padding-left: 105px; }
        .home-page .home-app ul.ul-right li:nth-child(2) {
          margin-left: 65px; }
        .home-page .home-app ul.ul-right li:nth-child(3) {
          margin-left: 20px; }
        @media screen and (max-width: 1023px) {
          .home-page .home-app ul.ul-right li {
            padding: 0 !important;
            margin: 0 !important; } }

.home-page .rating {
  background: #fbfafc;
  padding-top: 10px; }

.qr-bulk .text-title {
  padding: 0 195px;
  font-family: 'helveticaneuelight';
  color: #4d4d4f;
  font-size: 16px; }
  @media screen and (max-width: 1023px) {
    .qr-bulk .text-title {
      padding: 0 15px; } }

.qr-bulk .bulk-banner {
  padding-top: 100px;
  background-color: #f4f4f4;
  padding-bottom: 30px; }
  .qr-bulk .bulk-banner .text {
    padding-top: 70px; }
    .qr-bulk .bulk-banner .text h2 {
      font-family: 'helveticaneuebold';
      font-size: 22px;
      color: #797979;
      text-transform: uppercase;
      margin-bottom: 0; }
    .qr-bulk .bulk-banner .text h3 {
      font-family: 'helveticaneuebold';
      font-size: 38px;
      color: #f58220;
      text-transform: uppercase;
      margin-top: 0; }
    .qr-bulk .bulk-banner .text ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 30px; }
      .qr-bulk .bulk-banner .text ul li {
        color: #4d4d4f;
        font-size: 16px;
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: 'helveticaneuelight'; }
        .qr-bulk .bulk-banner .text ul li:before {
          content: "\f00c";
          position: absolute;
          font: normal normal normal 14px/1 FontAwesome;
          top: 5px;
          left: 0;
          color: #f58220; }
    @media screen and (max-width: 1023px) {
      .qr-bulk .bulk-banner .text {
        padding-top: 0; }
        .qr-bulk .bulk-banner .text h2 {
          font-size: 20px; }
        .qr-bulk .bulk-banner .text h3 {
          font-size: 30px; }
        .qr-bulk .bulk-banner .text .btn-flat {
          width: 100%;
          display: block;
          text-align: center;
          margin-bottom: 15px; } }

.qr-bulk .bulk-solution h2 {
  margin-bottom: 30px; }

.qr-bulk .bulk-solution .container-sm {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px; }

.qr-bulk .bulk-solution .qr-introduce {
  margin-bottom: 45px; }
  .qr-bulk .bulk-solution .qr-introduce h3 {
    color: #128097;
    text-transform: uppercase;
    font-family: 'helveticaneuebold';
    font-size: 20px; }
  .qr-bulk .bulk-solution .qr-introduce ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px; }
    .qr-bulk .bulk-solution .qr-introduce ul li {
      color: #727272;
      font-size: 16px;
      position: relative;
      margin-bottom: 10px;
      padding-left: 30px; }
      .qr-bulk .bulk-solution .qr-introduce ul li:before {
        content: "\f005";
        position: absolute;
        font: normal normal normal 14px/1 FontAwesome;
        top: 5px;
        left: 0;
        color: #f58220; }
  .qr-bulk .bulk-solution .qr-introduce .blue-lbl {
    background-color: #128097;
    color: #fff;
    font-family: 'helveticaneuebold';
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    border: solid;
    padding: 5px 20px; }
    .qr-bulk .bulk-solution .qr-introduce .blue-lbl:hover {
      opacity: 0.85; }

@media screen and (max-width: 1023px) {
  .qr-bulk .bulk-solution .qr-type .qr-introduce {
    margin-bottom: 25px; } }

.qr-bulk .bulk-solution .qr-type .qr-introduce:nth-child(2n+1) > div:first-child {
  float: right;
  text-align: right; }
  @media screen and (max-width: 1023px) {
    .qr-bulk .bulk-solution .qr-type .qr-introduce:nth-child(2n+1) > div:first-child {
      float: left;
      text-align: center; } }

.qr-bulk .bulk-solution .qr-type .qr-introduce:nth-child(2n+1) > div:last-child {
  float: left; }
  @media screen and (max-width: 1023px) {
    .qr-bulk .bulk-solution .qr-type .qr-introduce:nth-child(2n+1) > div:last-child {
      float: right; } }

@media screen and (max-width: 1023px) {
  .qr-bulk .bulk-solution .qr-type .qr-introduce .img-text {
    text-align: center; }
    .qr-bulk .bulk-solution .qr-type .qr-introduce .img-text img {
      display: inline-block; } }

.qr-bulk .bulk-about {
  background-image: url("../images/imghome/banner2.png");
  padding-top: 5px;
  padding-bottom: 50px; }
  .qr-bulk .bulk-about .under-title {
    margin-bottom: 30px; }
  .qr-bulk .bulk-about iframe {
    width: 100% !important;
    height: 360px !important; }

.qr-bulk .bulk-app {
  padding-top: 10px;
  padding-bottom: 45px; }
  @media screen and (max-width: 1023px) {
    .qr-bulk .bulk-app {
      padding-bottom: 15px; } }
  .qr-bulk .bulk-app .under-title {
    margin-bottom: 45px; }
  .qr-bulk .bulk-app .content {
    max-width: 950px;
    margin-bottom: 60px; }
    @media screen and (max-width: 1023px) {
      .qr-bulk .bulk-app .content {
        margin-bottom: 0px; } }
    .qr-bulk .bulk-app .content .app-item {
      text-align: center; }
      .qr-bulk .bulk-app .content .app-item h3 {
        font-size: 20px;
        font-family: 'helveticaneuebold';
        color: #f1801f;
        text-transform: uppercase; }
      .qr-bulk .bulk-app .content .app-item p {
        font-family: 'helveticaneuemedium';
        font-size: 16px;
        text-transform: uppercase; }
      @media screen and (max-width: 1023px) {
        .qr-bulk .bulk-app .content .app-item {
          margin-bottom: 20px;
          text-align: left; }
          .qr-bulk .bulk-app .content .app-item .text-content {
            float: left;
            text-align: center;
            padding-left: 30px; }
          .qr-bulk .bulk-app .content .app-item img {
            max-width: 80px;
            float: left; } }
    .qr-bulk .bulk-app .content .text-title {
      margin-bottom: 30px; }
  .qr-bulk .bulk-app p {
    text-align: center; }

.qr-bulk .bulk-struct {
  padding-bottom: 60px; }
  .qr-bulk .bulk-struct p {
    text-align: center; }
  .qr-bulk .bulk-struct .tamp {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 1026px; }
    @media screen and (max-width: 1023px) {
      .qr-bulk .bulk-struct .tamp {
        width: 100%; } }
    .qr-bulk .bulk-struct .tamp .bg-img {
      max-width: 100%;
      display: inline-block; }
      @media screen and (max-width: 1023px) {
        .qr-bulk .bulk-struct .tamp .bg-img {
          display: none; } }
  .qr-bulk .bulk-struct .part {
    width: 20%;
    position: absolute;
    text-align: center; }
    @media screen and (max-width: 1023px) {
      .qr-bulk .bulk-struct .part {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        bottom: 0 !important; } }
    .qr-bulk .bulk-struct .part h3 {
      font-size: 18px;
      font-family: 'helveticaneuemedium';
      color: #f1801f;
      text-transform: uppercase; }
    .qr-bulk .bulk-struct .part p {
      font-size: 15px;
      color: #7c7c7c;
      font-family: 'helveticaneuelight'; }
    .qr-bulk .bulk-struct .part.logo {
      top: 0;
      left: 0; }
    .qr-bulk .bulk-struct .part.sms {
      left: 0;
      bottom: 0; }
    .qr-bulk .bulk-struct .part.verify {
      left: 0;
      right: 0;
      bottom: -20px;
      margin: 0 auto; }
    .qr-bulk .bulk-struct .part.serial {
      right: 0;
      bottom: 0; }
    .qr-bulk .bulk-struct .part.qrcode {
      right: 0;
      top: 0; }

.qr-bulk .why-mira {
  padding-top: 30px; }
  .qr-bulk .why-mira .under-title {
    margin-bottom: 45px; }
  .qr-bulk .why-mira .double-list {
    margin-top: 30px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap; }
    .qr-bulk .why-mira .double-list > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column; }
  .qr-bulk .why-mira .content {
    max-width: 950px;
    margin-bottom: 45px; }
    .qr-bulk .why-mira .content p {
      text-align: center; }
    .qr-bulk .why-mira .content h3 {
      font-size: 18px;
      font-family: 'helveticaneuemedium';
      color: #4d4d4f;
      text-transform: uppercase; }
    .qr-bulk .why-mira .content .app-item {
      position: relative;
      padding-left: 60px; }
      @media screen and (max-width: 1023px) {
        .qr-bulk .why-mira .content .app-item {
          padding-left: 15px; } }
      .qr-bulk .why-mira .content .app-item p {
        text-align: left;
        padding-right: 140px; }
        @media screen and (max-width: 1023px) {
          .qr-bulk .why-mira .content .app-item p {
            padding-right: 0; } }
      .qr-bulk .why-mira .content .app-item:before {
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        top: 25px;
        left: 0; }
        @media screen and (max-width: 1023px) {
          .qr-bulk .why-mira .content .app-item:before {
            content: none; } }
      .qr-bulk .why-mira .content .app-item.item-1:before {
        background-image: url(../images/imghome/but1.png); }
      .qr-bulk .why-mira .content .app-item.item-2:before {
        background-image: url(../images/imghome/but2.png); }
      .qr-bulk .why-mira .content .app-item.item-3:before {
        background-image: url(../images/imghome/but3.png); }
      .qr-bulk .why-mira .content .app-item.item-4:before {
        background-image: url(../images/imghome/but4.png); }

.qr-bulk .bulk-model {
  background-color: #f4f4f4;
  padding: 15px; }
  .qr-bulk .bulk-model .button-group {
    display: inline-block;
    margin: 40px 0; }
    .qr-bulk .bulk-model .button-group button {
      text-transform: uppercase;
      color: #4d4d4f;
      margin-right: 30px;
      background: none;
      border: 0; }
      .qr-bulk .bulk-model .button-group button:hover {
        color: #f58220; }
      .qr-bulk .bulk-model .button-group button.is-checked {
        font-family: 'helveticaneuebold';
        color: #f58220; }

.grid {
  width: 100%; }
  .grid .element-item {
    width: 25%; }
  .grid img {
    width: 100%; }

.qr-mkt {
  color: #4d4d4f; }
  .qr-mkt .des {
    text-align: center;
    padding: 0 33%;
    font-family: 'helveticaneuelight';
    font-size: 16px; }
    @media screen and (max-width: 1023px) {
      .qr-mkt .des {
        padding: 0 15px; } }
  .qr-mkt .btn-flat {
    text-align: center; }
    .qr-mkt .btn-flat i {
      margin-left: 10px;
      font-size: 14px; }
    @media screen and (max-width: 1023px) {
      .qr-mkt .btn-flat {
        width: 100%;
        display: block;
        padding: 8px; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
      .qr-mkt .btn-flat {
        font-size: 16px; }
        .qr-mkt .btn-flat i {
          font-size: 12px; } }
  .qr-mkt p {
    font-size: 16px; }
  .qr-mkt .mkt-banner {
    padding-top: 100px;
    background-color: #f4f4f4;
    padding-bottom: 30px; }
    .qr-mkt .mkt-banner .text {
      padding-top: 70px; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-banner .text {
          padding-top: 0; } }
      .qr-mkt .mkt-banner .text h2 {
        font-family: 'helveticaneuebold';
        font-size: 40px;
        color: #188095;
        text-transform: uppercase;
        margin-bottom: 0; }
        @media screen and (max-width: 1023px) {
          .qr-mkt .mkt-banner .text h2 {
            font-size: 30px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
          .qr-mkt .mkt-banner .text h2 {
            font-size: 26px; } }
      .qr-mkt .mkt-banner .text p {
        margin-top: 5px;
        margin-bottom: 20px; }
      .qr-mkt .mkt-banner .text a img {
        margin-left: 10px; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-banner .text a {
          width: 100%;
          display: block;
          text-align: center; } }
    .qr-mkt .mkt-banner .img-banner {
      float: right;
      margin-bottom: 25px; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-banner .img-banner {
          float: none; } }
      .qr-mkt .mkt-banner .img-banner img {
        max-width: 100%; }
  @media screen and (max-width: 1023px) {
    .qr-mkt .mkt-why {
      padding-bottom: 20px; } }
  .qr-mkt .mkt-why .container-sm {
    max-width: 950px;
    margin: 60px auto; }
    @media screen and (max-width: 1023px) {
      .qr-mkt .mkt-why .container-sm {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px; } }
    .qr-mkt .mkt-why .container-sm h3 {
      color: #707070;
      font-size: 20px;
      margin-bottom: 20px; }
    .qr-mkt .mkt-why .container-sm ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 30px;
      font-family: 'helveticaneuelight'; }
      .qr-mkt .mkt-why .container-sm ul li {
        color: #707070;
        font-size: 16px;
        position: relative;
        margin-bottom: 10px;
        padding-left: 30px; }
        .qr-mkt .mkt-why .container-sm ul li:before {
          content: "\f1d8";
          position: absolute;
          font: normal normal normal 14px/1 FontAwesome;
          top: 5px;
          left: 0;
          color: #868686; }
  .qr-mkt .mkt-benifit {
    background-image: url("../images/mkt/bg1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5px;
    min-height: 480px; }
    @media screen and (max-width: 1023px) {
      .qr-mkt .mkt-benifit {
        background-image: none;
        background-color: #0f9fbc; } }
    .qr-mkt .mkt-benifit h2 {
      color: #ffffff; }
    .qr-mkt .mkt-benifit p {
      text-align: center;
      color: #ffffff; }
    .qr-mkt .mkt-benifit .under-title {
      margin-bottom: 30px; }
      .qr-mkt .mkt-benifit .under-title:after {
        background-color: #ffffff; }
    .qr-mkt .mkt-benifit ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 30px;
      margin-top: 60px;
      font-family: 'helveticaneuelight'; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-benifit ul {
          margin-top: 10px; } }
      .qr-mkt .mkt-benifit ul li {
        color: #ffffff;
        font-size: 16px;
        position: relative;
        margin-bottom: 10px;
        padding-left: 50px;
        line-height: 35px; }
        @media screen and (max-width: 1023px) {
          .qr-mkt .mkt-benifit ul li {
            padding-left: 35px; } }
        .qr-mkt .mkt-benifit ul li b {
          text-transform: uppercase; }
        .qr-mkt .mkt-benifit ul li:before {
          content: "\f058";
          position: absolute;
          font: normal normal normal 14px/1 FontAwesome;
          top: 8px;
          left: 0;
          color: #f58220;
          font-size: 20px; }
  .qr-mkt .mkt-mobi {
    padding-top: 5px; }
    @media screen and (max-width: 1023px) {
      .qr-mkt .mkt-mobi .container {
        padding: 0; } }
    .qr-mkt .mkt-mobi .item {
      text-align: center;
      min-height: 510px; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-mobi .item {
          min-height: 0; } }
    .qr-mkt .mkt-mobi .mb-text {
      margin-top: 100px; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-mobi .mb-text {
          margin-top: 20px; } }
    .qr-mkt .mkt-mobi .mb-slide {
      float: right; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-mobi .mb-slide {
          float: none; } }
      .qr-mkt .mkt-mobi .mb-slide .item {
        text-align: center; }
        .qr-mkt .mkt-mobi .mb-slide .item img {
          max-width: 100%;
          display: inline-block; }
    .qr-mkt .mkt-mobi h3 {
      font-family: 'helveticaneuemedium';
      color: #707070;
      font-size: 20px; }
    .qr-mkt .mkt-mobi p {
      font-family: 'helveticaneuelight';
      margin-bottom: 20px; }
  .qr-mkt .mkt-save .mb-content {
    text-align: center; }
  .qr-mkt .mkt-save .mb-button {
    margin-top: 45px;
    height: 60px; }
  .qr-mkt .mkt-save img {
    max-width: 100%; }
  .qr-mkt .mkt-trial {
    background-image: url(../images/mkt/tenlua.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 540px;
    font-family: 'helveticaneuelight'; }
    @media screen and (max-width: 1023px) {
      .qr-mkt .mkt-trial {
        min-height: 0;
        background-color: #178094;
        background-image: none;
        padding-bottom: 15px; } }
    .qr-mkt .mkt-trial h2 {
      color: #fff;
      font-size: 40px;
      margin-top: 90px;
      font-family: 'helveticaneuemedium'; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-trial h2 {
          margin-top: 15px;
          font-size: 29px; }
          .qr-mkt .mkt-trial h2 .btn-flat {
            font-size: 18px;
            padding: 6px 8px; } }
    .qr-mkt .mkt-trial p {
      font-size: 20px;
      color: #fff;
      margin-bottom: 20px; }
      .qr-mkt .mkt-trial p b {
        font-size: 30px; }
  .qr-mkt .mkt-contentqr .qr-content {
    font-family: 'helveticaneuelight'; }
    .qr-mkt .mkt-contentqr .qr-content h3 {
      font-family: 'helveticaneuemedium';
      color: #707070;
      font-size: 20px; }
  .qr-mkt .mkt-contentqr .tabs {
    text-align: center;
    height: 80px;
    margin: 15px 0; }
    @media screen and (max-width: 1023px) {
      .qr-mkt .mkt-contentqr .tabs {
        padding-left: 0; } }
    .qr-mkt .mkt-contentqr .tabs .indicator {
      width: 10%;
      background-color: #f58220;
      height: 3px; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-contentqr .tabs .indicator {
          width: 70px; } }
    .qr-mkt .mkt-contentqr .tabs .tab {
      height: 100px; }
  .qr-mkt .mkt-contentqr .tab > a {
    background-color: transparent;
    color: #666666; }
    .qr-mkt .mkt-contentqr .tab > a:hover, .qr-mkt .mkt-contentqr .tab > a:focus {
      text-decoration: none; }
    .qr-mkt .mkt-contentqr .tab > a .mkt-icon {
      display: block;
      height: 30px;
      width: 50px; }
    .qr-mkt .mkt-contentqr .tab > a i {
      margin: 5px auto; }
    .qr-mkt .mkt-contentqr .tab > a .sprite {
      background-image: url(../images/mkt/spritesheet.png);
      background-repeat: no-repeat;
      display: block; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type1 {
      width: 34px;
      height: 24px;
      background-position: -5px -5px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type2-1 {
      width: 18px;
      height: 28px;
      background-position: -93px -5px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type3 {
      width: 20px;
      height: 24px;
      background-position: -5px -43px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type4-1 {
      width: 22px;
      height: 24px;
      background-position: -65px -43px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type5-1 {
      width: 20px;
      height: 24px;
      background-position: -5px -77px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type6-1 {
      width: 28px;
      height: 22px;
      background-position: -65px -77px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type7-1 {
      width: 30px;
      height: 24px;
      background-position: -65px -109px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type8-2 {
      width: 38px;
      height: 24px;
      background-position: -149px -39px; }
    .qr-mkt .mkt-contentqr .tab > a .sprite-type9-2 {
      width: 24px;
      height: 24px;
      background-position: -145px -107px; }
    .qr-mkt .mkt-contentqr .tab > a.active {
      background-color: transparent;
      color: #f58220;
      border-radius: unset; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type9-2 {
        background-position: -141px -73px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type5-1 {
        width: 20px;
        height: 24px;
        background-position: -35px -77px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type6-1 {
        width: 28px;
        height: 22px;
        background-position: -103px -77px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type7-1 {
        width: 30px;
        height: 24px;
        background-position: -105px -109px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type2-1 {
        width: 18px;
        height: 28px;
        background-position: -121px -5px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type8-2 {
        width: 38px;
        height: 24px;
        background-position: -149px -5px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type1-1 {
        width: 34px;
        height: 24px;
        background-position: -49px -5px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type4-1 {
        width: 22px;
        height: 24px;
        background-position: -97px -43px; }
      .qr-mkt .mkt-contentqr .tab > a.active .sprite-type3 {
        width: 20px;
        height: 24px;
        background-position: -35px -43px; }
  .qr-mkt .mkt-contentqr .tab-content {
    background-color: transparent;
    color: #666666; }
    .qr-mkt .mkt-contentqr .tab-content .tab-pane ul {
      margin-bottom: 45px;
      font-size: 16px; }
      @media screen and (max-width: 1023px) {
        .qr-mkt .mkt-contentqr .tab-content .tab-pane ul {
          padding-left: 15px; } }
    .qr-mkt .mkt-contentqr .tab-content .tab-pane .qrcode {
      margin-top: 80px;
      font-weight: 700; }
      .qr-mkt .mkt-contentqr .tab-content .tab-pane .qrcode i {
        margin-left: 10px; }
  .qr-mkt .mkt-tech {
    margin-bottom: 30px; }
  .qr-mkt .mkt-tut .thumbnail a > img, .qr-mkt .mkt-tut .thumbnail > img {
    padding: 15px;
    min-height: 350px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none !important; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 99; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  color: #626262; }

.slick-prev {
  left: 15px; }

[dir='rtl'] .slick-prev {
  right: 15px;
  left: auto; }

.slick-prev:before {
  content: "\f137"; }

[dir='rtl'] .slick-prev:before {
  content: "\f137"; }

.slick-next {
  right: 15px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: 15px; }

.slick-next:before {
  content: "\f138"; }

[dir='rtl'] .slick-next:before {
  content: "\f138"; }

