@include device-1 {
    .slick-slide {
        > div {
            &:last-child {
                margin-top: -6px;
            }

            li {
                outline: 0 !important;

                a {
                    outline: 0 !important;
                }

                &:last-child {
                    border-right: 1px solid #ddd !important;
                }
            }
        }
    }

    label {
        font-size: 14px;
    }

    .mobile-edit {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            float: left;
            width: 50%;
            text-align: center;

            a {
                span {
                    display: block;
                    margin-top: -5px;
                    text-transform: uppercase;
                    color: #010002;
                }
            }

            .svg-color {
                svg {
                    width: 35px;
                    margin-top: 3px;

                    path {
                        fill: #010002;
                    }
                }

                span {
                    margin-top: -15px;
                }
            }

            .svg-pen {
                svg {
                    width: 35px;

                    path {
                        fill: #010002;
                    }
                }
            }

            &.active {
                a {
                    text-decoration: none;

                    span {
                        color: #4eb2cf;
                    }

                    svg {
                        path {
                            fill: #4eb2cf !important;
                        }
                    }
                }
            }
        }
    }

    .panel-edit {
        position: fixed;
        background-color: #fff;
        z-index: 100;
        width: 100%;
        bottom: 0;
        left: 0;
        transition: all ease-in 0.65s;
        margin-bottom: -100vh;
        padding-left: 15px;

        &.panel-active {
            max-height: 360px;
            overflow: auto;
            margin-bottom: 0;
            padding-bottom: 60px;

            &#eyeColor {
                padding-bottom: 105px;
            }
        }
    }

    .pannel-menu {
        height: 60px;
        opacity: .95;
        background: #fff;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #fff;
        border-top: 1px solid #ddd;
        z-index: 999;
    }

    .customize-qr {
        .conten-div {
            padding: 0;
        }

        .text-title {
            margin-bottom: 5px;
            padding: 0;
            padding-bottom: 5px;
        }

        .box-visible {
            top: 0;
        }

        .page-title {
            margin-top: 0;
            padding-top: 10px;
        }

        #eyes .eyes-color li {
            margin-bottom: 8px;

            > div {
                padding-left: 10px;

                .form-control {
                    width: 85px;
                }
            }
        }

        .right-pannel {
            transition: all ease 0.4s;

            &.panel-open {
                transform: scale(0.9);
                margin-top: -50px;
            }
        }
    }

    .modal-footer {
        border-top: 0;
    }

    .logo-type {
        min-height: 200px;
    }

    .logo-pannel {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #fff;
        z-index: 100;
        height: 430px;
        padding: 0 15px;
    }

    .modal-body {
        padding: 0;
    }

    .data-panel {
        min-height: 240px;

        .colorpick {
            max-width: 50% !important;
        }
    }

    .warning-text {
        padding: 20px;
    }

    .panel-bg {
        position: fixed;
        width: 100%;
        bottom: 0;
        background: #fff;
        left: 0;
        padding: 0 15px;
        padding-bottom: 150px;
        z-index: 100;
    }

    .svg-logo-up {
        svg {
            width: 40px;
        }

        span {
            margin-top: -20px !important;
        }
    }

    .svg-logo-type {
        svg {
            width: 42px;
        }

        span {
            margin-top: -22px !important;
        }
    }
}
