$font-path: "../fonts/";
@font-face {
    font-family: 'helveticaneue';
    src: url('#{$font-path}helveticaneue.ttf') format('truetype');
}
@font-face {
    font-family: 'helveticaneue';
    src: url('#{$font-path}helveticaneue.ttf') format('truetype');
}
@font-face {
    font-family: 'helveticaneuebold';
    src: url('#{$font-path}helveticaneuebold.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneueitalic';
    src: url('#{$font-path}helveticaneueitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneuelight';
    src: url('#{$font-path}helveticaneuelight.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('#{$font-path}helveticaneuemedium.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneueultralight';
    src: url('#{$font-path}helveticaneueultralight.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('#{$font-path}Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('#{$font-path}Roboto/Roboto-Light.ttf') format('truetype');
}
body, html {
    font-family: 'helveticaneue';
}

.btn-flat {
    padding: 8px 35px;
    border: 1px solid #5f5f5f;
    font-size: 20px;
    color: #5f5f5f;
    font-family: 'helveticaneuelight';
    margin-right: 10px;

    &:hover {
        opacity: 0.85;
        transition: all ease 0.2s;
        text-decoration: none;
        color: #5f5f5f;
    }

    &.btn-orange {
        background-color: #f58220;
        color: #fff;
        border: 1px solid #f58220;

        img {
            margin-left: 5px;
        }
    }

    &.md-btn {
        font-family: 'helveticaneuemedium';
        font-size: 10px;
        padding: 5px 10px;

        img {
            width: 15px;
        }
    }
}

.under-title {
    position: relative;
    color: #5f5f5f;
    font-size: 22px;
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 15px 15px 15px;

    &:after {
        /*background-image: url('../images/underline_1.png');*/
        background-color: #f58220;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        width: 95px;
        height: 3px;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
    }

    &.white-title {
        color: #fff;

        &:after {
            background-color: #fff;
        }
    }
}

.no-pad {
    padding: 0;
}

.hidden-mobile {
    @include device-1 {
        display: none;
    }
}

.hidden-desktop {
    display: none;

    @include device-1 {
        display: block;
    }
}

.grid-item {
    width: 25%;

    img {
        width: 100%;
    }
}

.grid-item--width2 {
    width: 50%;
}
