.qr-mkt {
    color: #4d4d4f;

    .des {
        text-align: center;
        padding: 0 33%;
        font-family: 'helveticaneuelight';
        font-size: 16px;

        @include device-1 {
            padding: 0 15px;
        }
    }

    .btn-flat {
        text-align: center;

        i {
            margin-left: 10px;
            font-size: 14px;
        }

        @include device-1 {
            width: 100%;
            display: block;
            padding: 8px;
        }

        @include iphone5Landscape {
            font-size: 16px;

            i {
                font-size: 12px;
            }
        }
    }

    p {
        font-size: 16px;
    }

    .mkt-banner {
        padding-top: 100px;
        background-color: #f4f4f4;
        padding-bottom: 30px;

        .text {
            padding-top: 70px;

            @include device-1 {
                padding-top: 0;
            }

            h2 {
                font-family: 'helveticaneuebold';
                font-size: 40px;
                color: #188095;
                text-transform: uppercase;
                margin-bottom: 0;

                @include device-1 {
                    font-size: 30px;
                }

                @include iphone5Landscape {
                    font-size: 26px;
                }
            }

            p {
                margin-top: 5px;
                margin-bottom: 20px;
            }

            a {
                img {
                    margin-left: 10px;
                }

                @include device-1 {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }

        .img-banner {
            float: right;
            margin-bottom: 25px;

            @include device-1 {
                float: none;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .mkt-why {
        @include device-1 {
            padding-bottom: 20px;
        }

        .container-sm {
            max-width: 950px;
            margin: 60px auto;

            @include device-1 {
                width: 100%;
                margin: 0 auto;
                padding: 0 15px;
            }

            h3 {
                color: #707070;
                font-size: 20px;
                margin-bottom: 20px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-bottom: 30px;
                font-family: 'helveticaneuelight';

                li {
                    color: #707070;
                    font-size: 16px;
                    position: relative;
                    margin-bottom: 10px;
                    padding-left: 30px;

                    &:before {
                        content: "\f1d8";
                        position: absolute;
                        font: normal normal normal 14px/1 FontAwesome;
                        top: 5px;
                        left: 0;
                        color: #868686;
                    }
                }
            }
        }
    }

    .mkt-benifit {
        background-image: url('../images/mkt/bg1.png');
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 5px;
        min-height: 480px;

        @include device-1 {
            background-image: none;
            background-color: #0f9fbc;
        }

        h2 {
            color: #ffffff;
        }

        p {
            text-align: center;
            color: #ffffff;
        }

        .under-title {
            margin-bottom: 30px;

            &:after {
                background-color: #ffffff;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 30px;
            margin-top: 60px;
            font-family: 'helveticaneuelight';

            @include device-1 {
                margin-top: 10px;
            }

            li {
                color: #ffffff;
                font-size: 16px;
                position: relative;
                margin-bottom: 10px;
                padding-left: 50px;
                line-height: 35px;

                @include device-1 {
                    padding-left: 35px;
                }

                b {
                    text-transform: uppercase;
                }

                &:before {
                    content: "\f058";
                    position: absolute;
                    font: normal normal normal 14px/1 FontAwesome;
                    top: 8px;
                    left: 0;
                    color: #f58220;
                    font-size: 20px;
                }
            }
        }
    }

    .mkt-mobi {
        padding-top: 5px;

        .container {
            @include device-1 {
                padding: 0;
            }
        }

        .item {
            text-align: center;
            min-height: 510px;

            @include device-1 {
                min-height: 0;
            }
        }

        .mb-text {
            margin-top: 100px;

            @include device-1 {
                margin-top: 20px;
            }
        }

        .mb-slide {
            float: right;

            @include device-1 {
                float: none;
            }

            .item {
                text-align: center;

                img {
                    max-width: 100%;
                    display: inline-block;
                }
            }
        }

        h3 {
            font-family: 'helveticaneuemedium';
            color: #707070;
            font-size: 20px;
        }

        p {
            font-family: 'helveticaneuelight';
            margin-bottom: 20px;
        }
    }

    .mkt-save {
        .mb-content {
            text-align: center;
        }

        .mb-button {
            margin-top: 45px;
            height: 60px;
        }

        img {
            max-width: 100%;
        }
    }

    .mkt-trial {
        background-image: url(../images/mkt/tenlua.png);
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 540px;
        font-family: 'helveticaneuelight';

        @include device-1 {
            min-height: 0;
            background-color: #178094;
            background-image: none;
            padding-bottom: 15px;
        }

        h2 {
            color: #fff;
            font-size: 40px;
            margin-top: 90px;
            font-family: 'helveticaneuemedium';

            @include device-1 {
                margin-top: 15px;
                font-size: 29px;

                .btn-flat {
                    font-size: 18px;
                    padding: 6px 8px;
                }
            }
        }

        p {
            font-size: 20px;
            color: #fff;
            margin-bottom: 20px;

            b {
                font-size: 30px;
            }
        }
    }

    .mkt-contentqr {
        .qr-content {
            font-family: 'helveticaneuelight';

            h3 {
                font-family: 'helveticaneuemedium';
                color: #707070;
                font-size: 20px;
            }
        }

        .tabs {
            text-align: center;
            min-height: 80px;
            margin: 15px 0;

            @include device-1 {
                padding-left: 0;
            }

            .indicator {
                width: 10%;
                background-color: #f58220;
                height: 3px;

                @include device-1 {
                    width: 70px;
                }
            }

            .tab {
                height: 100px;
            }
        }

        .tab > a {
            background-color: transparent;
            color: #666666;

            &:hover, &:focus {
                text-decoration: none;
            }

            .mkt-icon {
                display: block;
                height: 30px;
                width: 50px;
            }

            i {
                margin: 5px auto;
            }

            .sprite {
                background-image: url(../images/mkt/spritesheet.png);
                background-repeat: no-repeat;
                display: block;
            }

            .sprite-type1 {
                width: 34px;
                height: 24px;
                background-position: -5px -5px;
            }

            .sprite-type2-1 {
                width: 18px;
                height: 28px;
                background-position: -93px -5px;
            }

            .sprite-type3 {
                width: 20px;
                height: 24px;
                background-position: -5px -43px;
            }

            .sprite-type4-1 {
                width: 22px;
                height: 24px;
                background-position: -65px -43px;
            }

            .sprite-type5-1 {
                width: 20px;
                height: 24px;
                background-position: -5px -77px;
            }

            .sprite-type6-1 {
                width: 28px;
                height: 22px;
                background-position: -65px -77px;
            }

            .sprite-type7-1 {
                width: 30px;
                height: 24px;
                background-position: -65px -109px;
            }

            .sprite-type8-2 {
                width: 38px;
                height: 24px;
                background-position: -149px -39px;
            }

            .sprite-type9-2 {
                width: 24px;
                height: 24px;
                background-position: -145px -107px;
            }

            &.active {
                background-color: transparent;
                color: #f58220;
                border-radius: unset;

                .sprite-type9-2 {
                    background-position: -141px -73px;
                }

                .sprite-type5-1 {
                    width: 20px;
                    height: 24px;
                    background-position: -35px -77px;
                }

                .sprite-type6-1 {
                    width: 28px;
                    height: 22px;
                    background-position: -103px -77px;
                }

                .sprite-type7-1 {
                    width: 30px;
                    height: 24px;
                    background-position: -105px -109px;
                }

                .sprite-type2-1 {
                    width: 18px;
                    height: 28px;
                    background-position: -121px -5px;
                }

                .sprite-type8-2 {
                    width: 38px;
                    height: 24px;
                    background-position: -149px -5px;
                }

                .sprite-type1-1 {
                    width: 34px;
                    height: 24px;
                    background-position: -49px -5px;
                }

                .sprite-type4-1 {
                    width: 22px;
                    height: 24px;
                    background-position: -97px -43px;
                }

                .sprite-type3 {
                    width: 20px;
                    height: 24px;
                    background-position: -35px -43px;
                }
            }
        }

        .tab-content {
            background-color: transparent;
            color: #666666;

            .tab-pane {
                ul {
                    margin-bottom: 45px;
                    font-size: 16px;

                    @include device-1 {
                        padding-left: 15px;
                    }
                }

                .qrcode {
                    margin-top: 80px;
                    font-weight: 700;

                    i {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .mkt-tech {
        margin-bottom: 30px;
    }

    .mkt-tut {
        .thumbnail a > img, .thumbnail > img {
            padding: 15px;
            min-height: 350px;
        }
    }
}
