@font-face {
    font-family: 'UTM_Alter_Gothic';
    src: url('../fonts/UTM_Alter_Gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'SFUBodoniBoldCondensed';
    src: url('../fonts/SFUBodoniBoldCondensed.TTF') format('truetype');
}

@font-face {
    font-family: 'SFUGaramondCondensedBold';
    src: url('../fonts/SFUGaramondCondensedBold.TTF') format('truetype');
}

@font-face {
    font-family: 'SFUGaramondCondensedBoldItalic';
    src: url('../fonts/SFUGaramondCondensedBoldItalic.TTF') format('truetype');
}

@font-face {
    font-family: 'SFUGaramondCondensedLight';
    src: url('../fonts/SFUGaramondCondensedLight.TTF') format('truetype');
}

@font-face {
    font-family: 'SFUGaramondCondensedLightItalic';
    src: url('../fonts/SFUGaramondCondensedLightItalic.TTF') format('truetype');
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    margin: 0;
    z-index: 9;

    @include iphone5Screen() {
        top: 20px;
        left: 20px;
    }

    img {
        max-width: 110px;

        @include iphone5Screen() {
            max-width: 90px;
        }
    }
}

.app-btn {
    width: 90%;
    display: block;
    text-transform: uppercase;
    font-family: 'UTM_Alter_Gothic';
    font-size: 22px;
    padding: 4px 10px;
    text-align: center;
    color: #254aa5;
    border: 1px solid #254aa5;
    border-radius: 9px;
    margin: 0 auto;
    margin-top: 20px;

    &.fill-btn {
        background-color: #bdc8e4;
        border-color: #bdc8e4;
    }

    &.white-btn {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
    }
}

.group-btn-app {
    .app-btn {
        width: 100%;

        @include iphone5Screen() {
            font-size: 20px;
        }
    }

    > div {
        &:first-child {
            padding-right: 7px;
        }

        &:last-child {
            padding-left: 7px;
        }
    }
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 18px;
        width: 18px;
        margin: 0 1px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 18px;
            width: 18px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;

            &:hover, &:focus {
                outline: none;

                &:before {
                    opacity: 0.75;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "\f111";
                font: normal normal normal 14px/1 FontAwesome;
                width: 18px;
                height: 18px;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                color: #fff;
                opacity: 0.45;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                @include iphone5Screen() {
                    font-size: 10px;
                }
            }
        }

        &.slick-active button:before {
            opacity: 1;
        }
    }
}

.app-slide {
    .app-item {
        height: 100vh;
        position: relative;

        img {
            max-width: 100%;
        }

        .content {
            position: absolute;
            right: 9%;
            top: 50%;
            @include translate2D(0,-50%);

            @include iphone5Screen() {
                top: 55%;
                right: 5%;
            }

            .title {
                font-family: 'SFUBodoniBoldCondensed';
                font-size: 56px;
                color: #677bb9;
                margin: 0;
                margin-bottom: 20px;

                @include iphone5Screen() {
                    font-size: 52px;
                }
            }

            .invi-name {
                font-family: 'SFUGaramondCondensedLight';
                font-size: 28px;
                color: #000;
                line-height: 28px;
            }

            .invi-time {
                font-family: 'UTM_Alter_Gothic';
                font-size: 28px;
                color: #677bb9;
                margin-bottom: 40px;

                @include iphone5Screen() {
                    margin-bottom: 20px;
                }
            }
        }

        &.item-1 {
            background-image: url('../images/slide1_bg.png');
            background-size: cover;
        }

        &.item-2 {
            background-image: url('../images/slide2_bg.png');
            background-size: cover;

            .content {
                @include translate2D(-50%,-50%);
                right: auto;
                top: 53%;
                left: 50%;
                width: 330px;

                @include iphone5Screen() {
                    left: 50%;
                    right: auto;
                    top: 54%;
                    width: 310px;

                    .invi-name {
                        font-size: 26px;
                    }
                }
            }
        }

        &.item-3 {
            background-image: url('../images/img3.png');
            background-size: cover;

            .img-pos {
                position: absolute;
                max-width: 100%;
                top: 0;
                left: 0;
            }

            .title-pos {
                position: absolute;
                font-family: 'SFUGaramondCondensedLight';
                color: #fff;
                top: 20px;
                right: 10px;
                margin: 0;

                @include iphone5Screen() {
                    top: 15px;
                    right: 10px;
                    font-size: 22px;
                }
            }

            .content {
                @include translate2D(-50%,0%);
                right: auto;
                top: 70%;
                left: 50%;
                width: 220px;

                @include iphone5Screen() {
                    left: 50%;
                    right: auto;
                    top: 70%;
                    width: 210px;

                    .invi-name {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}

.app-landing {
    .app-item {
        height: 100vh;
        position: relative;

        &.item-1 {
            background-image: url('../images/slide4_bg.png');
            background-size: 100%;
            background-repeat: no-repeat;

            .invi-des {
                float: right;
                padding-right: 20px;
            }

            .invi-content {
                margin-top: 15px;
                padding: 0 35px;

                @include iphone5Screen() {
                    padding: 0 15px;
                }

                hr {
                    border-top: 1px solid #92a5d2;
                }
            }

            .content {
                position: absolute;
                left: 0;
                bottom: 20px;
                width: 100%;
            }

            .title {
                font-family: 'SFUBodoniBoldCondensed';
                font-size: 56px;
                color: #677bb9;
                margin: 0;
                margin-bottom: 20px;

                @include iphone5Screen() {
                    font-size: 52px;
                }
            }

            .invi-name {
                font-family: 'SFUGaramondCondensedLight';
                font-size: 28px;
                color: #000;
                line-height: 28px;

                @include iphone5Screen() {
                    font-size: 24px;
                }
            }

            .invi-time {
                font-family: 'UTM_Alter_Gothic';
                font-size: 28px;
                color: #677bb9;
                margin-bottom: 20px;

                @include iphone5Screen() {
                    margin-bottom: 5px;
                }
            }
        }

        &.item-2 {
            background-image: url('../images/img3.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-y: 100%;

            .img-pos {
                max-width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .title-pos {
                font-family: 'SFUGaramondCondensedLight';
                color: #fff;
                margin: 0;
                padding-top: 10px;
                text-align: center;

                @include iphone5Screen() {
                    font-size: 22px;
                }
            }

            .content {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 25%;
                width: 220px;
            }
        }
    }
}
