body {
    &.book-body {
        /*background-color: #6f6f6f;*/
    }
}

.title-break {
    background-color: #f3f7fa;
    font-size: 14px;
    text-transform: uppercase;
    color: #636466;
    margin: 0;
    padding: 15px;
    margin-bottom: 10px;
}

section {
    display: none;
    background-color: #fff;
}

.contact-us {
    h2 {
        font-size: 20px;
        font-family: 'helveticaneuelight';
        color: #333;
        position: relative;
        border-bottom: 1px solid #fff;
        padding: 0 15px;
        padding-bottom: 10px;
    }

    .image-creative {
        position: relative;
        padding: 0 15px;
        margin-top: 30%;
        margin-bottom: 40px;

        img {
            max-width: 85%;
            display: inline-block;
        }

        h3 {
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            font-family: 'helveticaneuelight';
            line-height: 22px;
        }

        p {
            font-size: 14px;
            font-family: 'helveticaneuelight';
            color: #fff;
        }
    }

    .contact {
        float: left;
        width: 50%;
        padding: 0 15px;
        text-align: center;
    }

    .report {
        float: left;
        width: 50%;
        padding: 0 15px;
        padding-top: 70px;
        text-align: center;
    }

    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        padding-left: 15px;
        margin-bottom: 10px;
    }

    li {
        display: inline-block;
        margin-right: 15px;
        text-align: center;

        a {
            width: 90px;
            height: 90px;
            padding: 22px;
            border-radius: 50%;
            display: block;
            margin-bottom: 15px;
        }

        svg {
            width: 45px;
            height: 45px;
            fill: #fff;

            path {
                fill: #fff;
            }
        }

        &:nth-child(1) {
            a {
                background-color: #f26b00;
            }
        }

        &:nth-child(2) {
            a {
                background-color: #f6ab04;
            }
        }

        &:nth-child(3) {
            a {
                background-color: #3365a2;
            }
        }

        &:nth-child(4) {
            a {
                background-color: #ff4f50;
            }
        }

        &:nth-child(5) {
            a {
                background-color: #f26b00;
            }
        }

        &:nth-child(6) {
            a {
                background-color: #f6ab04;
            }
        }

        &:nth-child(7) {
            a {
                background-color: #3365a2;
            }
        }

        &:nth-child(8) {
            a {
                background-color: #ff4f50;
            }
        }
    }

    .product {
        li {
            &:nth-child(1) {
                a {
                    background-color: #26c0a4;
                }
            }

            &:nth-child(2) {
                a {
                    background-color: #f0383a;
                }
            }

            &:nth-child(3) {
                a {
                    background-color: #f66900;
                }
            }

            &:nth-child(4) {
                a {
                    background-color: #3b8286;
                }
            }

            &:nth-child(5) {
                a {
                    background-color: #f15850;
                }
            }

            &:nth-child(6) {
                a {
                    background-color: #3263af;
                }
            }

            &:nth-child(7) {
                a {
                    background-color: #7b8f0c;
                }
            }

            &:nth-child(8) {
                a {
                    background-color: #46c3fb;
                }
            }
        }
    }
}

.company-info {
    display: table;
    width: 100%;
    height: calc(100vh - 50px);

    div {
        display: table-cell;
        height: calc(100vh - 50px);
        ;
        vertical-align: middle;
        text-align: center;
        padding: 0 30px;

        img {
            max-width: 100%;
            display: inline-block;
            margin-top: -50px;
        }
    }
}

.home {
    display: none;
}

footer {
    height: 60px;
    opacity: 0.95;

    ul {
        a {
            &:focus,
            &:active,
            &:hover,
            &:visited {
                text-decoration: none;
            }

            svg {
                margin-top: 5px;
            }

            span {
                font-size: 12px;
                display: block;
                margin-top: -5px;
                text-transform: uppercase;
                color: #b3b3b3;
            }

            &.active {
                span {
                    color: #4eb2cf;
                }
            }
        }
    }
}

.content-wrapper {
    padding-top: 50px;
    padding-bottom: 60px;
}

.book {
    &-list {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        padding-left: 15px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        li {
            display: inline-block;
            margin-right: 20px;
            text-align: center;
            width: 120px;
            @include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.56));

            img {
                max-width: 100%;
            }
        }
    }

    &-detail {

        .product {
            &-image {
                min-height: 400px;

                > ul {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    max-width: 100%;
                    overflow-x: scroll;
                    -webkit-overflow-scrolling: touch;
                    white-space: nowrap;
                    padding-left: 15px;
                    margin-bottom: 10px;

                    > li {
                        display: inline-block;
                        margin-right: 20px;
                        text-align: center;
                        width: 120px;
                        height: 160px;
                        background-color: #23b7db;
                        @include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.56));

                        img {
                            max-width: 100%;
                        }
                    }
                }
            }

            &-content {
                padding: 0 15px;
                padding-top: 55px;

                h2 {
                    font-size: 16px;
                    color: #333;
                    text-align: center;
                }

                h3 {
                    text-transform: uppercase;
                    color: #d2d2d2;
                    font-size: 14px;
                    text-align: center;
                    font-weight: normal;
                    margin: 10px 0;
                }

                a {
                    display: inline-block;
                    font-size: 15px;

                    &.read-now {
                        color: #333;
                    }

                    &.buy-now {
                        background-color: #4eb2cf;
                        color: #fff;
                        padding: 7px 10px;
                        border-radius: 4px;
                        width: 80%;
                        text-align: center;
                        margin: 15px 0;
                    }
                }
            }

            &-related {
                padding-bottom: 25px;

                .title-break {
                    margin-bottom: 20px;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    font-size: 0;
                    padding: 0 7px;

                    li {
                        display: inline-block;
                        width: 33.33%;
                        text-align: center;
                        padding: 0 7px;

                        img {
                            width: 100%;
                            display: inline-block;
                        }
                    }
                }
            }
        }

        hr {
            border-top: 7px solid #eee;
        }
    }

    &-search {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            a {
                display: table;
                width: 100%;
                padding: 15px;
                text-decoration: none !important;

                > div {
                    display: table-cell;
                    vertical-align: top;

                    &.image {
                        width: 110px;
                    }

                    &.content {
                        padding-left: 10px;
                    }
                }

                h2 {
                    color: #000;
                    font-size: 14px;
                    margin: 10px 0;
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #333;
                    font-weight: normal;
                    margin: 10px 0;
                }

                p {
                    font-size: 13px;
                    color: #333;
                }
            }

            img {
                max-width: 100%;
            }
        }
    }
}

.slick-center {
    .slick-slide {
        a {
            display: block;
            padding: 15px 25px;
            padding-top: 40px;
            @include transition(0.3s);
            outline: none;
        }

        &.slick-active {
            a {
                padding: 0;
                @include box-shadow(0px 0px 11px 0px rgba(0,0,0,0.75));
            }
        }
    }

    img {
        width: 100%;
    }
}

.search-input {
    padding: 0 30px;
    position: absolute;
    width: 100%;
    left: 0;
    display: none;

    .search {
        position: absolute;
        left: 31px;
        top: 2px;

        svg {
            width: 28px;
            height: 28px;
        }
    }

    .remove-text {
        position: absolute;
        right: 30px;
        top: 3px;

        svg {
            width: 28px;
            height: 28px;
            fill: #959499;
        }
    }

    input {
        width: 100%;
        outline: none;
        border-radius: 35px;
        @include box-shadow(none);
        border: none;
        height: 30px;
        color: #000;
        font-size: 14px;
        font-weight: normal;
        padding-left: 30px;
        padding-right: 28px;
    }
}

.group-slide {
    position: absolute;
    width: 100%;
    top: 50px;
}

.book-background {
    background-color: #6f6f6f;
    background-size: cover;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
    }
}

.logo {
    img {
        width: 110px;
    }
}
